<footer class="custom-footer" #footerRef>
    <div class="footer-top">
      <h3>{{footer.name}}</h3>
      <p>{{footer.title}}</p>
    </div>
  
    <div class="footer-middle">
      <p>{{footer.connect}}</p>
      <ul>
        <li>Email: <a href="mailto:luciano.s.d@gmail.com">luciano.s.dri&#64;gmail.com</a></li>
        <li>GitHub: <a href="https://github.com/LsDri92" target="_blank">LsDri92 - github</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/lucianosdri92/" target="_blank">linkedin.com/in/lucianosd</a></li>
        <li> Instagram: <a href="https://www.instagram.com/jawas.si/" target="_blank">instagram.com/jawas.si</a></li>
      </ul>
    </div>
  
    <div class="footer-bottom">
    <p>© {{ year }} JawasSI — {{footer.rights}}</p>
      <p class="footer-message">{{footer.message}}</p>
    </div>
  
    <div class="footer-deco">
      <span>✨</span><span>🕹️</span><span>💻</span><span>🎨</span><span>☕</span>
    </div>
  </footer>
  
  