<footer class="custom-footer" #footerRef>
    <div class="footer-top">
      <h3>LucianoSD</h3>
      <p>Desarrollador Web y de Videojuegos - Argentina 🇦🇷</p>
    </div>
  
    <div class="footer-middle">
      <p>Contacto directo:</p>
      <ul>
        <li>Email: <a href="mailto:luciano.s.d@gmail.com">luciano.s.dri&#64;gmail.com</a></li>
        <li>GitHub: <a href="https://github.com/LsDri92" target="_blank">LsDri92 - github</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/lucianosdri92/" target="_blank">linkedin.com/in/lucianosd</a></li>
      </ul>
    </div>
  
    <div class="footer-bottom">
    <p>© {{ year }} LucianoSD — Todos los derechos reservados</p>
      <p class="footer-message">"Creando con pasión, desde el corazón del sur del mundo."</p>
    </div>
  
    <div class="footer-deco">
      <span>✨</span><span>🕹️</span><span>💻</span><span>🎨</span><span>☕</span>
    </div>
  </footer>
  
  