<div class="modal-backdrop" *ngIf="isOpen">
    <div class="modal-content">
      <h2>{{contact.title}}</h2>
      <form (submit)="sendEmail(); $event.preventDefault();">
        <input
          type="text"
          placeholder={{contact.name}}
          [(ngModel)]="form.name"
          name="name"
          required
        />
        <input
          type="email"
          placeholder={{contact.email}}
          [(ngModel)]="form.email"
          name="email"
          required
        />
        <textarea
          placeholder={{contact.message}}
          [(ngModel)]="form.message"
          name="message"
          required
        ></textarea>
        <div class="buttons">
          <button type="submit">{{contact.send}}</button>
          <button type="button" (click)="close()">{{contact.cancel}}</button>
        </div>
      </form>
    </div>
  </div>
  