.skills-section {
  text-align: center;
  max-width: 900px;
  max-height: fit-content;
  margin: 0 auto;
  overflow: visible;
  padding: 2rem 1rem 4rem;
}

.skills-title {
  font-size: 2rem;
  margin: 2rem 0 1rem;
  color: var(--text-color);
}

.skills-description {
  font-size: clamp(1rem, 1.5vw, 1.5vw);
  line-height: 1.8;
  color: var(--text-color);
  margin-bottom: 3rem;
  text-align: justify;
}

.carousel-container {
  width: 100%;
  overflow-x: hidden; // 👈 ocultar el "loop"
  overflow-y: visible;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carousel-track {
  display: flex;
  animation: scroll-pingpong 8s linear infinite alternate; // 👈 importante: alternate
  width: max-content;
  background-color: rgba(255, 255, 255, 0.05);
  min-height: 70px;
  align-items: center;
  min-width: max-content;
}

.carousel-track img {
  height: 64px;
  max-height: 70px;
  margin: 0 1rem;
  flex-shrink: 0;
  opacity: 0.9;
  pointer-events: none;
  user-select: none;
}

.carousel-container:hover .carousel-track {
  animation-play-state: paused; // 👈 pausa animación al hacer hover
  pointer-events: auto; // reactiva scroll al hacer hover
}

@keyframes scroll-pingpong {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); // Ajustá este valor según el contenido
  }
}
