<section class="skills-section">
  <h2 class="skills-title">Sobre mí</h2>
  <p class="skills-description">
    Desarrollador desde 2020, especializado en desarrollo de juegos utilizando PixiJS para HTML5.
    Mi principal fortaleza es TypeScript, aunque también he trabajado con frameworks modernos como
    Angular y React para el desarrollo de interfaces interactivas. Con React y Redux tengo experiencia
    creando aplicaciones y sistemas de gestión de escritorio utilizando Electron, lo que me permite
    desarrollar soluciones completas y multiplataforma. Angular fue utilizado para desarrollar este Portfolio. Además, tengo experiencia en motores como
    Unreal Engine, UEFN y Unity, lo que me ha permitido participar en distintos tipos de proyectos
    tanto 2D como 3D. Desde 2022 me desempeño de manera profesional en la industria del desarrollo
    de videojuegos. Me caracterizo por tener habilidades sociales sólidas y por adaptarme con facilidad
    al trabajo en equipo y entornos colaborativos.
  </p>

  <div class="carousel-container">
    <div class="carousel-track">
      <ng-container *ngFor="let tech of technologiesDoubled">
        <img [src]="tech" alt="tech icon" />
      </ng-container>
    </div>
  </div>
</section>
