<section class="contact-links-section">
  <div class="embedded-contact-form">
    <h2>{{contact.title}}</h2>
    <form (submit)="sendEmail(); $event.preventDefault();">
      <input
        type="text"
        placeholder={{contact.name}}
        [(ngModel)]="form.name"
        name="name"
        required
      />
      <input
        type="email"
        placeholder={{contact.email}}
        [(ngModel)]="form.email"
        name="email"
        required
      />
      <textarea
        placeholder={{contact.message}}
        [(ngModel)]="form.message"
        name="message"
        required
      ></textarea>
      <div class="buttons">
        <button type="submit">{{contact.send}}</button>
      </div>
    </form>
  </div>
  <div *ngIf="successMessage" class="text-green-600 text-sm mt-2">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="text-red-600 text-sm mt-2">{{ errorMessage }}</div>

  <div class="contact-links">
    <a href="https://github.com/LsDri92" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/github.png" alt="GitHub" />
    </a>
    <a href="https://www.linkedin.com/in/lucianosdri92/" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/linkedin.png" alt="LinkedIn" />
    </a>
    <a href="https://lsdri92.itch.io/" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/itchio.png" alt="Itch.io" />
    </a>
    <a href="/" target="_blank" rel="noopener noreferrer">
      <img src="assets/images/profile.png" alt="Portfolio" />
    </a>
  </div>
</section>
