<section class="contact-links-section">
  <div class="embedded-contact-form">
    <h2>{{contact.title}}</h2>
    <form #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm); $event.preventDefault();">
      <input
        type="text"
        placeholder="{{contact.name}}"
        [(ngModel)]="form.name"
        required
        name="name"
        required
      />
      <input
        type="email"
        placeholder="{{contact.email}}"
        [(ngModel)]="form.email"
        required
        name="email"
        required
      />
      <textarea
        placeholder="{{contact.message}}"
        [(ngModel)]="form.message"
        required
        name="message"
        required
      ></textarea>

      <input
      type="text"
      name="botField"
      [(ngModel)]="form.botField"
      style="display: none;"
      tabindex="-1"
      autocomplete="off"
    />
    
    <div
      *ngIf="errorMessage"
      class="feedback-message error"
    >
      {{ errorMessage }}
    </div>
    <div
    *ngIf="successMessage"
    class="feedback-message success"
  >
    {{ successMessage }}
  </div>
  

      <div class="buttons">
        <button type="submit" [disabled]="isSending">{{contact.send}}</button>
      </div>
    </form>
  </div>

  <div class="contact-links">
    <a href="https://github.com/LsDri92" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/github.png" alt="GitHub" />
    </a>
    <a href="https://www.linkedin.com/in/lucianosdri92/" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/linkedin.png" alt="LinkedIn" />
    </a>
    <a href="https://lsdri92.itch.io/" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/itchio.png" alt="Itch.io" />
    </a>
    <a href="/" target="https://www.instagram.com/jawas.si/" rel="noopener noreferrer">
      <img src="assets/icons/instagram.png" alt="Instagram" />
    </a>
  </div>
</section>
