/* ======= RESET + SCROLL ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hide-header {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  z-index: 1;
}

/* ======= FONDO DINÁMICO CON ALPHA ======= */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.12;
  pointer-events: none;
  transition: background-image 0.5s ease-in-out, opacity 0.3s ease;
}

html[data-theme='dark'] body::before {
  background-image: url('/assets/darkBg.png');
  opacity: 1;
}

html[data-theme='light'] body::before {
  background-image: url('/assets/lightBg.png');
  opacity: 1;
}

/* ======= COLORES BASE – Rojo Rubí & Oro Mate ======= */
:root {
  /* Fondo y texto principal */
  --bg-color: #1a0a0a;
  --text-color: #fdfdfd;
  --text-muted: #bbbbbb;
  --text-strong: #ffffff;
  --text-inverse: #1a0a0a;

  /* Paleta */
  --primary-color: #8b0000;   /* rojo rubí */
  --accent-color: #d4af37;    /* oro mate */
  --hover-color: #ffd700;     /* dorado más claro */
}

[data-theme='light'] {
  --bg-color: #fffaf0;         /* fondo claro cálido */
  --text-color: #330000;
  --text-muted: #5e0000;
  --text-strong: #000000;
  --text-inverse: #ffffff;

  --primary-color: #b71c1c;
  --accent-color: #cdaa7d;
  --hover-color: #000000;

  .skills-title {
    font-size: 2rem;
    margin: 2rem 0 1rem;
    color: var(--text-color);
  }
  
  .skills-description {
    font-size: 1.1rem;
    line-height: 1;
    // color: #1a1a1a; // color de la letra
  text-shadow:
  -0.5px -0.5px 0 #cdaa7d,  
   0.5px -0.5px 0 #cdaa7d,
  -0.5px  0.5px 0 #cdaa7d,
   0.5px  0.5px 0 #cdaa7d;
    margin-bottom: 3rem;
    text-align: justify;
  }

}

.footer-hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.footer-visible {
  opacity: 1;
  transform: translateY(0);
}


/* ======= SCROLLBAR HIDDEN ======= */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* ======= ANIMACIONES ======= */
.fade-in {
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
